@import url('../@font-face/stylesheet.css');

body {
   display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center; 
  font: 12px/1.42 Helvetica,'Lucida Grande', Tahoma, sans-serif;
}
* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

#container{
  width: 400px;
}

#howto{
  background-color: gray;
  color: white;
  -webkit-font-smoothing: antialiased;
}

[data-icon]:before {
  font-family: 'entypo';
  /*position: absolute;*/
  content: attr(data-icon);
  left: 0;
  font-size: 2em;
  float: left;
  vertical-align: middle;
  padding: 0 10px;
  -webkit-font-smoothing: antialiased;
}

#play-list{
  background-color: #70DFE9;
  height: 130px;
}

#play-list>img{
  float: left;
  width: 100px;
  padding: 15px;
}

.play-list{
  list-style:none;
  padding:0px;  
  margin:0px;
}

.play-list li:first-child{
  background-color: #67c6e2;
  height: 100px;
  margin-bottom: 30px;
} 

.play-list li:first-child img{
  float: left;
  width: 100px;
  padding: 15px;
} 

.play-list li:first-child .track{
    font-size: 18px;
    color: white;
}
.play-list li:first-child .artist{
    font-size: 18px;
    color: #0f7087;
}
.play-list li:first-child:after{
  content: 'Playlist';
} 

.play-list li:not(:first-child){
  background-color: white;
  height: 50px;
  position: relative;
  padding-left: 40px;
  margin-bottom: 3px;
  color: #8a8a8a;
} 

.play-list li:not(:first-child) img{
  float: left;
  width: 50px;
  padding: 5px;
} 

[data-position]:before {
  color: #67c6e2;
  content: attr(data-position);
  position: absolute;
  left: 0;
  font-size: 27px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  padding: 5px
}
  

.track-artist-container{
  height: 100%;
  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}

