html, body {
  height: 100%;
  margin: 0px;
}

body{
  height: 100%;
  overflow: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center; 
  font: 12px/1.42 Helvetica,'Lucida Grande', Tahoma, sans-serif;
  
  background: -moz-linear-gradient(left, rgba(153,153,153,0.4) 0%, rgba(153,153,153,0.4) 1%, rgba(153,153,153,0.45) 3%, rgba(153,153,153,0) 20%, rgba(153,153,153,0) 80%, rgba(153,153,153,0.45) 97%, rgba(153,153,153,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(153,153,153,0.4)), color-stop(1%,rgba(153,153,153,0.4)), color-stop(3%,rgba(153,153,153,0.45)), color-stop(20%,rgba(153,153,153,0)), color-stop(80%,rgba(153,153,153,0)), color-stop(97%,rgba(153,153,153,0.45)), color-stop(100%,rgba(153,153,153,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(153,153,153,0.4) 0%,rgba(153,153,153,0.4) 1%,rgba(153,153,153,0.45) 3%,rgba(153,153,153,0) 20%,rgba(153,153,153,0) 80%,rgba(153,153,153,0.45) 97%,rgba(153,153,153,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(153,153,153,0.4) 0%,rgba(153,153,153,0.4) 1%,rgba(153,153,153,0.45) 3%,rgba(153,153,153,0) 20%,rgba(153,153,153,0) 80%,rgba(153,153,153,0.45) 97%,rgba(153,153,153,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(153,153,153,0.4) 0%,rgba(153,153,153,0.4) 1%,rgba(153,153,153,0.45) 3%,rgba(153,153,153,0) 20%,rgba(153,153,153,0) 80%,rgba(153,153,153,0.45) 97%,rgba(153,153,153,0.4) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(153,153,153,0.4) 0%,rgba(153,153,153,0.4) 1%,rgba(153,153,153,0.45) 3%,rgba(153,153,153,0) 20%,rgba(153,153,153,0) 80%,rgba(153,153,153,0.45) 97%,rgba(153,153,153,0.4) 100%); /* W3C */
}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}



#settings{
  background-color: #67c6e2;
  color: white;
  -webkit-font-smoothing: antialiased;
}

#container{
  width: 400px;
  margin-top: 2em;
}

#howto{
  background-color: #E41178;
  color: white;
  height: 66px;
  -webkit-font-smoothing: antialiased;
}

.logo{
  width: 140px;
  height: 66px;
  float: left;
}

.logo-text{
  fill: #ecebe8;
}

.info{
  padding-left: 3em;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}

.info-text{
  font-size: 1.3em;
  line-height: 1em;
}

.add-url{
  font-size: 2em;
  line-height: 1em;
}

[data-icon]:before {
  font-family: 'entypo';
  content: attr(data-icon);
  left: 0;
  line-height: 0.71;
  font-size: 4em;
  float: left;
  vertical-align: middle;
  padding: 0 10px;
  -webkit-font-smoothing: antialiased;
}

#play-list{
  background-color: #70DFE9;
  height: 130px;
}

#play-list>img{
  float: left;
  width: 100px;
  padding: 15px;
}

.get-it-started{
  color: #787878;
  border: 4px dashed #787878;
  height: 150px;
  margin-top: 40px;
  font-size: 2em;
  text-align: center;
   display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-border-radius: 15px;
}

.now-playing-text{
  padding-top: 1em;
  padding-left: 1em;
  color: #E41178;
}

.play-list{
  list-style:none;
  padding:0px;  
  margin:0px;
}

.play-list li:first-child{
  background-color: #67c6e2;
  height: 9em;
} 

.play-list li:first-child img{
  float: left;
  width: 9em;
  padding: 1em;
} 

.play-list li:first-child .track{
    font-size: 2em;;
    color: white;
}
.play-list li:first-child .artist{
    font-size: 1.5em;
    font-weight: lighter;
    color: #0f7087;
}

.play-list li:not(:first-child) .track{
    font-size: 14px;
    color: #787878;
}
.play-list li:not(:first-child) .artist{
    font-size: 12px;
    font-weight: lighter;
    color: #787878;
}

.play-list li:not(:first-child){
  background-color: white;
  height: 50px;
  position: relative;
  padding-left: 45px;
  margin-bottom: 3px;
  color: #8a8a8a;
} 

.play-list li:not(:first-child) img{
  float: left;
  width: 50px;
  padding: 3px;
} 

.play-list li:not(:first-child):before {
  color: #67c6e2;
  content: attr(data-position);
  position: absolute;
  left: 0;
  font-size: 27px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  padding: 5px
}
  

.track-artist-container{
  height: 100%;
  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}

.artist span:not(:last-child):after{
  content:", ";
}

